@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.clickable:hover, .clickable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to godbound sheets */
.godbound .item-form {
  font-family: "Roboto", sans-serif;
}
.godbound .clickable {
  cursor: pointer;
}
.godbound form.character.godbound {
  display: grid;
  grid-template-areas: "header" "tabs" "body";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 10px;
  min-width: 490px;
}
.godbound form.character.godbound .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.godbound form.character.godbound .sheet-header .profile-img {
  grid-area: image;
  flex: 0 0 100px;
  height: 100px;
}
.godbound form.character.godbound .sheet-header .header-fields {
  height: 100%;
  flex: 1;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 5px;
  width: 100%;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row div:has(+ label) {
  padding-right: 10px;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .fa-solid.fa-heart.fa-xl.pr-4px {
  padding-right: 4px;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .left-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .left-group div:has(+ label) {
  padding-right: 10px;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .left-group label:has(+ input[type=checkbox]) {
  padding-right: 2px;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .left-group input[type=checkbox] {
  height: 12px;
  width: 12px;
  margin: 0;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .right-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  flex-shrink: 0;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .short-input {
  width: 35px;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row label {
  padding-right: 7px;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row input {
  margin-right: 10px;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row span.level-value {
  margin-right: 10px;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .fraction-group {
  display: flex;
  flex-flow: column nowrap;
  padding-right: 10px;
  justify-content: center;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .fraction-group input {
  margin-right: 0;
  text-align: center;
}
.godbound form.character.godbound .sheet-header .header-fields .header-row .fraction-group .denominator {
  width: 100%;
  text-align: center;
}
.godbound form.character.godbound .sheet-header .header-fields .fraction-group input {
  width: 30px;
}
.godbound form.character.godbound .sheet-header .header-fields .fraction-group .span {
  width: 20px;
  border-top: 1px solid black;
}
.godbound form.character.godbound .sheet-header .header-fields .fraction-group .fraction-group {
  display: flex;
  flex-flow: column nowrap;
}
.godbound form.character.godbound .sheet-header .header-fields input {
  width: 120px;
}
.godbound form.character.godbound .sheet-header .header-fields .resources {
  height: 100%;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}
.godbound form.character.godbound .sheet-header h1.charname {
  grid-area: name;
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.godbound form.character.godbound .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.godbound form.character.godbound .sheet-tabs {
  margin: 0;
}
.godbound form.character.godbound aside.sidebar {
  row-gap: 3px;
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  grid-auto-rows: 26px;
}
.godbound form.character.godbound aside.sidebar .flexcol {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
}
.godbound form.character.godbound aside.sidebar .flexcol .flexrow {
  height: 26px;
}
.godbound form.character.godbound aside.sidebar .saves.flexcol {
  grid-column: 1/-1;
  grid-row: 7/10;
}
.godbound form.character.godbound aside.sidebar .saves.flexcol .flex-group-center {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
}
.godbound form.character.godbound aside.sidebar .attributes.flexcol {
  grid-row: 1/7;
  grid-column: 1/-1;
}
.godbound form.character.godbound aside.sidebar .attributes.flexcol .flex-group-center {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid {
  display: grid;
  grid-template-columns: [label-start] auto [label-end value-start] auto [value-end max-start] auto [max-end income-start] auto [income-end];
  grid-template-rows: 30px 30px 30px 30px;
  width: fit-content;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .header {
  grid-column: label-start/income-end;
  grid-row: 1/2;
  grid-template-columns: subgrid;
  display: grid;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .header div {
  border-bottom: 1px solid var(--color-underline-header);
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .influence-row {
  grid-column: label-start/income-end;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: subgrid;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .influence-row * {
  text-align: center;
  vertical-align: middle;
  width: auto;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .dominion-row {
  grid-column: label-start/income-end;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: subgrid;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .dominion-row * {
  text-align: center;
  vertical-align: middle;
  width: auto;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .dominion-row * input {
  width: 15px;
  height: 20px;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .spent-row {
  grid-column: label-start/income-end;
  grid-row: 4/5;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .resources-grid .spent-row * {
  text-align: left;
  vertical-align: middle;
  width: auto;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section input {
  width: auto;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .dominon-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.godbound form.character.godbound section.sheet-body .tab.active .compact-section .dominon-row input {
  width: 30px;
}
.godbound form.character.godbound section.sheet-body .tab.active .committed-effort-list {
  height: 26px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100%;
}
.godbound form.character.godbound section.sheet-body .tab.active .committed-effort-list .row-header {
  width: auto;
  padding-right: 5px;
  font-weight: bold;
}
.godbound form.character.godbound section.sheet-body .tab.active .committed-effort-list .word-pill {
  display: flex;
  width: auto;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  padding: 3px 7px;
  margin: 0 4px;
}
.godbound form.character.godbound section.sheet-body .tab.active .committed-effort-list .word-pill .item-delete {
  display: none;
  margin-left: 5px;
}
.godbound form.character.godbound section.sheet-body .tab.active .committed-effort-list .word-pill:hover .item-delete {
  display: block;
}
.godbound form.character.godbound section.sheet-body .tab.active .passives-list {
  padding: 0;
}
.godbound form.character.godbound section.sheet-body .tab.active .passives-list .title-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
.godbound form.character.godbound section.sheet-body .tab.active.facts {
  display: flex;
}
.godbound form.character.godbound section.sheet-body .tab.active.facts section {
  flex: 1 1 100%;
  margin: 0;
}
.godbound form.character.godbound section.sheet-body .tab.active.facts section section {
  display: grid;
  grid-template-rows: auto 1fr;
}
.godbound form.character.godbound section.sheet-body .tab.active.facts section section .editor {
  flex: 1 1 100%;
  min-height: 50px;
}
.godbound .save-penalty.clickable {
  color: rgb(145, 21, 21);
}
.godbound .sheet-tabs {
  flex: 0;
}
.godbound .sheet-body,
.godbound .sheet-body .tab,
.godbound .sheet-body .tab .editor {
  height: 100%;
}
.godbound .sheet-body > .tab > .checkbox-list {
  display: flex;
  flex-flow: column nowrap;
}
.godbound .sheet-body > .tab > .checkbox-list > label {
  display: flex;
  align-items: center;
}
.godbound .sheet-body > .tab > .checkbox-list > label > input[type=checkbox] {
  height: 15px;
  width: 15px;
}
.godbound .tox .tox-editor-container {
  background: #fff;
}
.godbound .tox .tox-edit-area {
  padding: 0 8px;
}
.godbound .resource-label {
  font-weight: bold;
}
.godbound .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.godbound .items-header > * {
  font-size: 13px;
  text-align: center;
}
.godbound .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.godbound .items-header .item-cost {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.godbound .passives-list {
  list-style: none;
}
.godbound .passives-list .passive-item {
  margin-left: 5px;
}
.godbound .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.godbound .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.godbound .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.godbound .items-list .item-name h3, .godbound .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.godbound .items-list .item-worn {
  display: flex;
  flex: 0 1 auto;
  padding: 0 5px;
}
.godbound .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.godbound .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.godbound .items-list .item {
  align-items: center;
  padding: 3px 2px;
  border-bottom: 1px solid #c9c7b8;
}
.godbound .items-list .item:last-child {
  border-bottom: none;
}
.godbound .items-list .item .item-name {
  color: #191813;
}
.godbound .items-list .item .item-name .item-image {
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
  border: none;
  margin-right: 5px;
}
.godbound .items-list .item.flex-row {
  align-items: center;
}
.godbound .items-list .item.row .fixed-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  flex: 1 0 100%;
}
.godbound .items-list .item.row .fixed-row i {
  flex: 0 0 auto;
  padding-right: 5px;
}
.godbound .items-list .item.row .fixed-row .item-controls {
  flex: 0 0 150px;
}
.godbound .items-list .item.row .fixed-row .item-controls i {
  padding: 0;
}
.godbound .items-list .item.row > .dropdown-content {
  display: none;
  width: 100%;
  height: 0;
}
.godbound .items-list .item.row.expanded > .dropdown-content {
  display: block;
  height: auto;
  width: 100%;
  margin: 0;
  border-top: 1px solid rgb(201, 199, 184);
}
.godbound .items-list .item.row.expanded > .fixed-row > .hide-expanded {
  display: none;
}
.godbound .items-list .item.row:not(.expanded) > .fixed-row > .hide-collapsed {
  display: none;
}
.godbound .items-list .item.row.word-row > .fixed-row > div > h4 {
  font-size: 16px;
  font-weight: bold;
}
.godbound .items-list .item.row.gift-row > .fixed-row {
  font-size: 13px;
  flex: 0 0 auto;
}
.godbound .items-list .item.row.gift-row > .fixed-row > .gift-effort {
  display: flex;
  flex-flow: row nowrap;
}
.godbound .items-list .item.row.word-row > .fixed-row > .word-effort {
  display: flex;
  flex-flow: row nowrap;
}
.godbound .items-list .item.row.gift-row > .fixed-row > .gift-effort > label {
  padding-right: 5px;
}
.godbound .items-list .item.row.word-row > .fixed-row > .word-effort > label {
  padding-right: 5px;
}
.godbound .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.godbound .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.godbound .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.godbound .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.godbound .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.godbound .effects .item .effect-source,
.godbound .effects .item .effect-duration,
.godbound .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.godbound .effects .item .effect-controls {
  border: none;
}

.dice-roll .dice-result .dice-total {
  display: flex;
  justify-content: center;
}
.dice-roll .dice-result .dice-total .dice-total-details {
  font-weight: normal;
  font-size: 15px;
  padding-left: 5px;
}
