.dice-roll {
    .dice-flavor {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .dice-result {
        .dice-total {
            display: flex;
            justify-content: center;
            grid-gap: 5px;
            .dice-total-details {
                font-weight: normal;
                font-size: 15px;
                padding-left: 5px;
            }
        }
    }
}
