<div class="npc-header">
    <img class="npc-img" src="{{actor.img}}" data-edit="img"
        title="{{actor.name}}" height="100" width="100" />
    <input type="text" class="display-name" name="name"
        value="{{actor.name}}" />
</div>
<div class="npc-description">
    {{editor enrichedBiography target="system.biography" engine="prosemirror"
    button=true editable=editable}}
</div>
