<form class="{{cssClass}} {{actor.type}} flexcol"
  autocomplete="off">
  <nav class="npc-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="tactics">Tactics</a>
  </nav>
  <section class="content">
    <div class="tab description" data-group="primary" data-tab="description">
      {{> "systems/godbound/templates/actor/npc-parts/npc-description.hbs"}}
    </div>
    <div class="tab details {{system.settings.mode}}" data-group="primary"
      data-tab="details">
      {{> "systems/godbound/templates/actor/npc-parts/npc-details.hbs"}}
    </div>
    <div class="tab tactics" data-group="primary" data-tab="tactics">
      {{> "systems/godbound/templates/actor/npc-parts/npc-tactics.hbs"}}
    </div>
  </section>
</form>
