<div class="checkbox-list">
    <label><input type="checkbox" name="system.effortOfTheWord" {{checked
            system.effortOfTheWord}} />Effort of the Word</label>
    <label><input type="checkbox" name="system.influenceOfTheWord" {{checked
            system.influenceOfTheWord}} />Influence of the Word</label>
    <label><input type="checkbox" name="system.excellenceOfTheWord" {{checked
            system.excellenceOfTheWord}} />Excellence of the Word</label>
</div>