<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total dice-save">
            {{#if success}}
            <span class="save-success">
                Success:
            </span>
            {{else}}
            <span class="save-failure">Failure: </span>
            {{/if}}
            {{total}}
        </h4>
    </div>
</div>